<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Latam</title>
    <meta name="author" content="Juan Medina">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta property="og:site_name" content="Ruby Latam"/>
    <meta property="og:url" content="https://www.rubylatam.com/"/>
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/149844589"/>
    <meta name="description" content="Aprende sobre buenas prácticas y contribuye a una aplicación real mientras practicas Ruby, un lenguaje divertido enfocado en la felicidad del desarrollador."/>
    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "custom_global" %>

    <link crossorigin="crossorigin" href="https://fonts.gstatic.com" rel="preconnect" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
    <link as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="preload" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  </head>

  <body  x-data="global()" x-init="themeInit()" :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''" class="dark:bg-primary">
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
